<div class="post-comments">
    <% if(locals.user) { %>
        <form action="/comment/create" method="POST">
            <input type="text" name="content" placeholder="Type here to add Comment...">
            <!--  send the id of post -->
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>
        <%} %>
            <div class="post-comments-list">
                <ul id="post-<%= post._id %>-comments-form">
                    <% for(comment of post.comments){ %>
                        <li>
                            <p>
                                <% if(locals.user && locals.user.id==post.user.id) { %>
                                    <small>
                                        <a class="delete-comment-button" href="comment/destroy/<%= comment.id %>">X</a>
                                    </small>
                                    <%} %>
                                        <%= comment.content %>
                                            <br>
                                            -- <%= comment.user.name %>
                            </p>
                        </li>
                        <%} %>
                </ul>
            </div>
</div>